// Use this file as a template to supply environment specific values (i.e. connection strings, license keys, files paths, etc).
// The values in this file will override what is in the appsettings.json file.
{
  "AppSettings": {
    "HttpsPort": 443
  },
  "ConnectionStrings": {
    "Default": ""
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
}
