@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        background-color: #f2f2f2;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        box-sizing: border-box;
        min-height: 100vh;
        min-width: 100vw;
        margin: 0;
        padding: 0;
    }

    .header-gradient {
        background-image: radial-gradient(ellipse at top, #25acd4, transparent), radial-gradient(ellipse at bottom, #304b50, transparent);
    }
}
